
.container body {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      background-color: black;
}
.container h1 {
  text-align: center;
  color:white;
}
.container p {
  text-align: center;
  color: white;
}
